// Light Theme
$background: rgb(255, 255, 255);
$textColor: rgb(12, 12, 12);
$textColorLight: rgb(131, 131, 131);
$accentColor: rgb(12,12,12);

// Dark Theme
$backgroundDark: rgb(41, 41, 40);
$textColorDark: rgb(235, 233, 233);
$textColorLightDark: rgb(51, 50, 50);
$accentColorDark: rgb(138, 170, 138);

// Color Theme
$backgroundColor: rgb(222, 246, 255);
$textColorColor: rgb(184, 106, 34);
$textColorLightColor: rgb(180, 88, 88);
$accentColorColor: rgb(138, 170, 138);