@import '/_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway');

.login{
  // border: 2px solid gray;

  a{
    text-decoration: none;
    display: block;
    text-align: center;
  }

  #log-out-button{
    text-align: center;
    display: block;
    margin: auto;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  div{
    text-align: center;

    form{

      input{
        padding: 1em;
        margin: 1em;
      }
    }
  }
}