@import './_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway');

#colorThemeButton{
  position: absolute;
  top: 10px;
  left: 10px;
}